@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --brand-primary: #6366f1;
  --bg-app: #f8fafc;
  --text-primary: #0f172a;
}
html[data-theme="dark"] {
  --bg-app: #020617;
  --text-primary: #f8fafc;
}
body { background-color: var(--bg-app); color: var(--text-primary); font-family: 'Inter', sans-serif; transition: all 0.3s ease; }